*{
    box-sizing: 0;
    padding: 0;
    margin:0;

}

.menu{
	width: 90%;
	margin: auto;

}
.logo{
	width: 30%;
	float: left;
}
.menu-tool {
	width: 70%;
	float: right;
	padding: 10px;
}
.menu-item{
	width: 12%;
	float: left;
	color: black;
	font-size: 20px;
	padding: 2px
}
a {
	text-decoration: none;
}
img {
	width: 100%;
}
.search{
	width: 90%;
}
.search-item{
	width: 70%;
	float: left;
	height: 100px
}
	.icon{
		width: 10%;
		float: left;

	}
	input{
		width:90%;
		float: left;
		height: 100% }

.search-item-2{
	width: 30%;
	float: left;
	height: 100%;
	
}








