*{max-width: 1000px;
background-color: bisque}
.banner{width: 100%}

.intro{font-size: 40px;
position: relative;}
<<<<<<< HEAD
.intro a: link{ color: blue;}
.intro a: hover{ color: green;}

.intro a: active{ color: yellow;}
.intro a: visited{ color: red;}
=======

.intro a: hover{ color: green;}
.intro a: link{ color: blue;}
.intro a: :active{ color: yellow;}
.intro a: :visited{ color: red;}
>>>>>>> d67eeef8a224fdd122804ef444437b9e5c40c2ad

.logo{width: 10%;
    position: absolute;
    top: -95px;
    left: 0;}
.clear{clear: both;
    
}
.menu{max-width: 30%;
height: 300px;
float: left;
<<<<<<< HEAD
padding: 10px;}
=======
margin: 10px;}
>>>>>>> d67eeef8a224fdd122804ef444437b9e5c40c2ad

.anh1{max-width: 95%;
height: 250px;
}
.promote{max-width:1000px; 
justify-content: center;}
h1{justify-content: center}