*{	box-sizing: border-box;
background-color: bisque;
font-family: Arial, Helvetica, sans-serif;
}


#menu li {margin: 10px;
}
.banner img{width: 100%;}

.intro{font-size: 20px;
position: relative;
}

#menu{max-width: 1000px;
height: 200px;
padding: 10px;}

#menu > li{ float:left; 
	list-style-type: none;
}

#menu >li > ul {list-style-type: none;
				display: none;
				padding: 10px;}
#menu > li:hover > ul{
		display: block;
}


.intro a:hover { color: green;}

.intro a:active { color: yellow;}

.intro a:visited { color: pink;}


.logo{width: 10%;
    position: absolute;
    top: -100px;
	left: 0;}
	
	
.clear{clear: both;
    
}
.wrap {max-width: 1000px;
margin: auto;}

.km1 { float: left;
	max-width: 30%;
	 transition: opacity: 1s linear 
}

.km2{float: left;
	max-width: 70%; transition: opacity: 1s linear }

	h1 {animation: example 5s ease infinite;
		  
	}


	@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

.menu{max-width:33.3333%;
height: 300px;
float: left;
text-align: center;
padding: 10px;
color: pink;
font-size: 30px;
opacity: 1;
transition: opacity: 1s linear;
}
.menu:hover { opacity: 0.5;
}

.promote{max-width:1000px; 
justify-content: center;
float: left; padding: 10px;
}

.anh1{max-width: 95%;

height: 200px;

}
.anh2{width: 100%;}
.km1:hover img{transform: scale(1.2); }
.km2:hover img{transform: scale(0.8);}
h1 {text-align: center;
background-color: yellow ; 
color: red;}