*{max-width: 1000px;
	box-sizing: border-box;
background-color: bisque;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}
.banner{width: 100%}

.intro{font-size: 20px;
position: relative;
color: brown;}

#menu{max-width: 1000px;
height: 200px;
padding: 10px;}

#menu > li{ float:left; 
	list-style-type: none;
}

#menu >li > ul {
				display: none;
				padding: 10px;}
#menu > li:hover > ul{
		display: block;
}


.intro a:hover { color: green;}

.intro a:active { color: yellow;}

.intro a:visited { color: pink;}


.logo{width: 10%;
    position: absolute;
    top: -95px;
    left: 0;}
.clear{clear: both;
    
}
.anh2{max-width: 30%;
float: left;
transition: opacity: 1s linear
}
.anh3{max-width: 70%;
float: left;
transition: opacity: 1s linear}

.menu{max-width:31.18796%;
height: 300px;
float: left;
padding: 10px;
color: pink;
font-size: 30px;
opacity: 1;
transition: opacity: 1s linear;
}
.menu:hover img{ opacity: 0.5;
}

.promote{max-width:1000px; 
justify-content: center;
float: left;
}

.anh1{max-width: 95%;
	vertical-align: middle;
height: 250px;
}

.anh2:hover { width: 50%; }
h1 {text-align: center;
background-color: yellow ; 
color: red;}