*{box-sizing: border-box;
margin: 0;
padding: 0;}


.header { width: 80%;
    float: right;
    position: relative;
    height: 500px;
}
.header img{width: 100%;
height: 100%;}
 .content-1 {text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
 }

 .button{
     width: 30%;
     margin: auto;
     margin-top: 50px;
    height: 50px;
    background-color: rgb(202, 88, 88);
    color: white;
    padding: 15px;

}



.sidebar { width: 20%;
    float: left;
    background-color: rgb(49, 45, 45);
    color: white; 
    cursor: pointer;
    height: 2000px;
   
}
ul li { 
    margin: 20px;
    border-bottom: 3px solid black;
    font-size: 30px;
    list-style-type: none;


}


.sidebar img {width: 100%;
}

.avatar {
    width: 100%;
    position: relative;
}
.content-2 {
    font-size: 10px;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

/*   part2*/


.wrap{ 
    width: 80%;
    margin: auto;
    float: right;
}
.main{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}


span {border-bottom: 3px solid red;}

.portfolio { font-size: 30px;
padding: 10px;
}


.tool{
    border-bottom: 2px solid #9c9393;
    height: 60px;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    margin: auto;

   
    float: left;
    z-index: 3;
}


.band{border-bottom: 2px solid red;
z-index: 6;}


.tool div {width: 25%;
    margin: auto;
float: left;
height: 100%;
}

.tool div:hover{    border-bottom: 2px solid red;
}

.box_card {
     width: 50%;
     float: left;
    padding: 10px;
    height: 300px;

    }

.card img{
    width: 100%;
    height: 70%;
    float:top; 
    padding: 0;
}

.clear {clear: both;}

.text1{height: 100px;
    color: white;
    background-color: rgb(77, 39, 68)}
.text2{height: 100px;
    color: white;
    background-color: aqua}
.text3{
    height: 100px;
    background-color: rgb(160, 61, 206);
    color: white}
.text4{
    height: 100px;
    color: white;
    background-color: rgb(31, 61, 11)}
.text5{
    height: 100px;

    color: white;
    background-color: rgb(51, 155, 124)}
.text6{
    height: 100px;
    color: white;
    background-color:#af8484}
.card a {color: white;}

.font-1{font-size: 12px;}


.footer {width: 80%;
margin: auto;
padding-top: 20px;}
.box{width: 40%;
padding: 10px;
float: left;
;

}
.name{border: 2px solid #0000004d;
width: 100%;
float: left;
height: 30px;}


.email{border: 2px solid #0000004d;
    width: 100%;
    float: left;
    height: 30px;}

    
    .msg{border: 2px solid #0000004d;
        width: 100%;
        float: left;
        height:100px;}

    .box div{margin: 10px;}

        .address{width: 50%;
        padding: 10px;
    float: right;
    border-left: 2px solid grey;}
    .footet_2 {width: 90%;
    margin: auto;
    float: left
}
    .address img {max-width: 50px;
    height: 50px;
float: left;}
.card_3{
    width: 100%;
     float: left;
     height: 100px;
     padding: 10px;
}


.box .button { float: right;
width: 50%;
height: 40px;}

.multi{
    width: 30%;
    margin: auto;
    
}
.multi div{
    height: 50px;
    max-width: 30%;
    float: left;
    padding: 10px;}
    
        
.multi div img{
    height: 100%;
    max-width: 100%;
    float: left;

    
}
.line{ border-left: 2px solid #80808073;
    z-index: 5;
}
 p {text-align: center;}



