*{box-sizing: border-box;
margin: 0;
padding: 0;
}


.menu >ul > li { list-style-type: none ;}

.head{position: relative;
width: 100%}
.wrap-1{width: 100%;
	margin: auto;

	background-color: #00000045;
	height: 80px;

	position: absolute;
	top: 0;
	left: 0;

	z-index: 5;

}

.part1 {max-width: 1140px;
	margin: auto;

height: 80px;
margin: auto;

 }

.banner{width: 100%;
position: relative;
}
.banner img{width: 100%;
display: block;}





.logo{width: 40%;
float: left;
font-size: 20px;
height: 40px;
padding-top: 20px;

color: white;


}

.menu{width: 60%;
float: left;}

li {float: left;
padding: 10px;
height: 40px;
}
.list a{color: white;
text-decoration: none;
}
.home{ border: 2px solid rgb(0, 162, 255);

 }
.home a{color: rgb(0, 162, 255);}


.list { float: right;}

span{color: #10a8ec;
}

.slogan {
	text-align: center;
	font-size: 30px;
	color: white;
	background-color: #282e853b;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	}




	/*  part 2 */




.wrap-2 {width: 100%;
	height: 400px;
	background-color: #10a8ec;
color: white;}
.tool {max-width: 1140px;
	height: 100%;
	margin: auto;

}
.name {width: 100%;height: 60px;padding:  20px;}
.main_menu { width: 100%;
height: 340px;}

.iterm1 {width: 25%;
float: left;}

.iterm2 {width: 25%;
	float: left;}

	
.iterm3 {width: 25%;
		float: left;}

.iterm4 {width: 25%;
			float: left;}
			
.main_menu img {max-width: 50px;
height: 50px;}


/*part3     */
.menu_card ul { float: right;
}

.wrap-3{max-width: 1140px;
margin: auto;
padding: 5px;}

.menu_card > ul > li { list-style-type: none ;}
.tool_1 { width: 100%;
	height: 80px;

}
.logo2 {width: 40%;
	float: left;
	font-size: 20px;
	height: 40px;
	padding-top: 10px;
	color: #9e9e9e94;
	}
	
	.menu_card {width: 60%;
	float: right;}
	
	li {float: left;
	padding: 10px;
	height: 40px;
	}
	.clear {clear: both;}

	.list_image a {
		text-decoration: none;}

		.picture_file{max-width: 1140px;
		margin: auto;}
		
		.picture_file img{width: 100%;
			display: block;
		padding: 5px;}
		

.all{ border: 2px solid #006eff;
 }
.all a{color: #006eff; }


.image_1 {width: 25%;
	float: left;
	
}
	
.image_2 {width: 25%;
	float: left;
}

.image_3 {width: 25%;
	float: left;
}

.image_4{width: 25%;
	float: left;
}

.image_5 {width: 25%;
	float: left;
}

.image_6 {width: 25%;
	float: left;
}

.image_7 {width: 25%;
	float: left;
}

.image_8 {width: 25%;
	float: left;
}

.image_1 {
	position: relative;
	width: 25%;
	padding: 0;
	margin: 0;
}

.overlay { 
	position: absolute;
	z-index: 5;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;

	background-color:#00000075;
	overflow: hidden;
	width: 100%;
	height: 100%;
	transform: scale(0);
	transition: 0.3s ease;}



.image_1:hover .overlay{ 
	transform: scale(1);
}

.text { color: white ;
font-size: 50px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;}

.image_2 {
	position: relative;
	width: 25%;
}
.image_3 {
	position: relative;
	width: 25%;
}
.image_4 {
	position: relative;
	width: 25%;
}
.image_5 {
	position: relative;
	width: 25%;
}
.image_6 {
	position: relative;
	width: 25%;
}
.image_7 {
	position: relative;
	width: 25%;
}
.image_8 {
	position: relative;
	width: 25%;
}



.image_1:hover .overlay{ 
	transform: scale(1);
}

.image_2:hover .overlay{ 
	transform: scale(1);
}

.image_3:hover .overlay{ 
	transform: scale(1);
}

.image_4:hover .overlay{ 
	transform: scale(1);
}

.image_5:hover .overlay{ 
	transform: scale(1);
}

.image_6:hover .overlay{ 
	transform: scale(1);
}

.image_7:hover .overlay{ 
	transform: scale(1);
}

.image_8:hover .overlay{ 
	transform: scale(1);
}

