                                * {
                                box-sizing: border-box;
                                padding: 0;
                                margin: 0;
                            }
                            
                            header {
                                width: 100%;
                                height: 1100px;
                            }
                            
                            .banner {
                                width: 100%;
                            }
                            
                            img {
                                width: 100%;
                            }
                            
                            {
                                width: 100%;
                            }
                            
                            .main-menu>li {
                                float: left;
                                width: 25%;
                                border: 2px solid cornflowerblue;
                                font-size: 30px;
                                text-align: center;
                                background-color: aquamarine;
                            }
                            
                            .main-menu>li>ul {
                                list-style-type: none;
                                display: none;
                            }
                            
                            .menu-1>li {
                                border: 2px solid blue;
                            }
                            
                            .menu-2>li {
                                border: 2px solid blue;
                            }
                            
                            nav {
                                width: 70%;
                                margin: auto;
                            }
                            
                            .main-menu {
                                list-style-type: none;
                            }
                            
                            .main-menu>li:hover>ul {
                                display: block;
                            }
                            
                            #content {
                                text-align: center;
                                width: 80%;
                                float: left;
                                background-color: aquamarine;
                                height: 800px;
                                font-size: 30px;
                            }
                            
                            .card-1 img {
                                height: 86%;
                            }
                            
                            .card-2 img {
                                height: 86%;
                            }
                            
                            .card-3 img {
                                height: 86%;
                            }
                            
                            .card-1,
                            .card-2,
                            .card-3 {
                                width: 33.33%;
                                float: left;
                                height: 265px;
                                padding: 3px;
                                padding-top: 10px;
                            }
                            
                            aside {
                                width: 20%;
                                background-color: plum;
                                height: 800px;
                                float: right;
                                font-size: 30px;
                                text-align: center;
                                color: #6144ce;
                            }
                            
                            .promotion {
                                width: 100%;
                                height: 33.3333%;
                            }
                            
                            footer {
                                width: 100%;
                                background-color: aqua;
                                height: 100px;
                                float: left;
                            }
                            
                            .multi {
                                width: 30%;
                                margin: auto;
                                padding: 20px;
                            }
                            
                            .multi div {
                                height: 50px;
                                max-width: 30%;
                                float: left;
                                padding: 10px;
                            }
                            
                            .multi div img {
                                height: 100%;
                                max-width: 100%;
                                float: left;
                                .clear {
                                    clear: both;
                                }
                                .clear {
                                    clear: both;
                                }
                                .address {
                                    width: 80%;
                                    height: 100px;
                                    margin: auto;
                                }
                                .card_3 {
                                    width: 33.33%;
                                    float: left;
                                    font-size: 20px;
                                }