h1{color: red}
h2{color:green}
img { width: 30%; 
    height: 300px;
    padding: 10px  
}
.banner{width: 100%;
}
*{max-width: 1000px; margin: auto;}
* {
    box-sizing: border-box;
}
a {font-size: 30px; margin: 10px ;

}
a: link{color: red}
a:hover{color: aquamarine}
a: :visited{color: green}
a: :active{color : pink}
.menu { background-color: yellowgreen;}
.menu {position: absolute;
top: 0
left: 0;
}
#than { position: relative;max-width: 80%;
float: right; }
#than > h2:first-child {position: relative;}
.no-float {clear: both;}

#top{
    position: fixed;
    right:0;
    bottom: 0}
    #top img{ height: 100px;
    width: 100px;}
    

   